*{
    box-sizing: border-box;
    font-size: min(2vw, 16px);
}

body {
    border: 0;
    padding: 0;
    margin: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Carina_Dwarf_Galaxy.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    color: Black;
    font-family: "times new roman", sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2.5em;
    color: indigo;
    font-weight: bold;
    margin: 1em 0 0 0;
}

table {
    width: min(calc(100vw - min(calc(20vw + 40px), 190px) - 63px), 579px);
    align-self: center;
    text-align: center;
    line-height: 25px;
    border-spacing: 1px;
    color: white;
}

table caption {
    color: black;
    text-align: left;
    margin-bottom: 10px;
}

address {
    width: 180px;
    position: absolute;
    bottom: min(2.5%, 20px);
}

dt {
    float: left;
    font-weight: bold;
}

dl {
    margin: 0;
}

dt::after {
    content: ": ";
}

dd {
    padding: 0 0 0.5em 0;
}

#song {
    width: min(calc(100vw - min(calc(20vw + 40px), 190px) - 63px), 579px);
    height: min(calc(100vw - min(calc(20vw + 40px), 190px) - 63px) * 0.5625, 326px);
}

#icon {
    width: min(20vw, 150px);
}

#here {
    cursor: default;
    background: #ddd;
}

#title {
    font-family: Sans-serif;
    line-height: 50px;
    border: 0;
    margin: -2px 3% 30px min(calc(20vw + 40px), 190px);
    color: white;
    text-align: center;
}

.menu {
    font-family: Sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    padding: 0 0 0 min(calc(20vw + 40px), 190px);
}

.menu .change {
    border-right: 0px;
  }

.menu p {
    cursor: pointer;
    transition: 0.4s;
    vertical-align: left;
    margin: 0 0 0 min(calc(20vw + 40px), 190px);
    padding: 1px 10px;
    margin: 0;
    background: #fff;
    border: 2px solid rgb(167, 215, 249);
    border-bottom: 0px;
}

.menu p:hover {
    background: #eee;
}

.sidebar {
    font-family: Sans-serif;
    background: linear-gradient(to left, #0000, #000f 66%);
    color: white;
    top: 0;
    bottom: 0;
    padding: min(2.5%, 20px) 0px 0px min(2.5%, 20px);
    position: fixed;
    margin: 0;
}

.sidebar ol {
    padding: 0px 0px 0px min(20%, 170px);
}

.sidebar h2 {
    color: rgb(233, 233, 233);
    font-size: 1.5em;
    line-height: 10px;
}

.sidebar a:link {
    color: lightskyblue;
}

.sidebar a:visited{
    color: violet;
}

.sidebar a:hover {
    color: lightsteelblue;
}

.content {
    margin: -2px 13px 30px min(calc(20vw + 40px), 190px);
    border: 2px solid rgb(167, 215, 249);
    padding: 0px 15px 20px 15px;
    background-color: white;
}

.photo img {
    width: min(calc(100vw - min(calc(20vw + 40px), 190px) - 104px), 579px);
}