body {
    border: 0;
    padding: 0;
    margin: 0;
    background:/* white;*/ url(galaxy.jpg);
    color: Black;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

table {
    width: calc(100vw - 232px - 3vw);
    align-self: center;
    text-align: center;
    border-spacing: 1px;
    color: white;
}

table caption {
    color: black;
    text-align: left;
    margin-bottom: 10px;
}

address {
    width: 180px;
    position: absolute;
    bottom: 0px;
}

dt {
    float: left;
    font-weight: bold;
}

dt::after {
    content: ": ";
}

dd {
    padding: 0 0 0.5em 0;
}

#icon{
    width: 150px;
}

.title {
    border: 0;
    margin: 0 3vw 0 180px;
    font-size: 4.5vw;
    color: white;
    text-align: center;
}

.sidebar {
    background: #000;
    color: white;
    overflow: hidden;
    top: 0;
    bottom: 0;
    padding: 20px;
    font-size: 16px;
    position: fixed;
}

.sidebar h2 {
    color: rgb(233, 233, 233);
    font-size: 20px;
    line-height: 10px;
}

.sidebar a:link {
    color: lightskyblue;
}

.sidebar a:visited{
    color: violet;
}

.sidebar a:hover {
    color: lightsteelblue;
}

.list {
    font-size: 16px;
}

.content {
    margin: 0 3% 30px 190px;
    border: 2px solid rgb(167, 215, 249);
    padding: 0px 15px 20px 15px;
    background-color: white;
}

h2 {
    font-size: 32px;
    color: indigo;
    font-weight: bold;
    margin: 1em 0 0 0;
}
