/* Light mode */
:root {
    --svg: invert();
    --bg-img: url(images/LBG.png);
    --a-color: #1a24b9;
    --a-visited-color: #660099;
    --h2-color: rgb(0, 126, 190);
    --hover-color: #eee;
    --inactive-bg: #ddd;
    --border-color: #99f;
    --body-bg: #FFFe;
    --body-color: #000;
}

 /* Dark mode */
 @media (prefers-color-scheme: dark) {
    :root {
        --svg: none;
        --bg-img: url(images/DBG.png);
        --a-color: #6997f4;
        --a-visited-color: #9656ff;
        --h2-color: rgb(0, 255, 255);
        --inactive-bg: #383a3b;
        --border-color: #9656f8;
        --body-bg: #181a1b;
        --body-color: #FFF;
    }
 }

*{
    box-sizing: border-box;
    font-size: min(2vw, 16px);
}

body {
    color: var(--body-color);
    border: 0;
    padding: 0;
    margin: 0;
    background-image: var(--bg-img);
    background-size: cover;
    background-attachment: fixed;
    background-position: top right;
    color: body-color;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: var(--a-color);
}

a:visited{
    color: var(--a-visited-color);
}


h2 {
    font-size: 2.5em;
    color: var(--h2-color);
    font-weight: bold;
    margin: 1em 0 0 0;
}

table {
    border: 1px solid #0000;
    width: min(calc(100vw - min(calc(20vw + 40px), 190px) - 63px), 579px);
    align-self: center;
    text-align: center;
    line-height: 25px;
    border-spacing: 1px;
    color: white;
}

table caption {
    color: var(--body-color);
    text-align: left;
    margin-bottom: 10px;
}

address {
    width: 180px;
    position: absolute;
    bottom: min(2.5%, 20px);
}

dt {
    float: left;
    font-weight: bold;
}

dl {
    margin: 0;
}

dt::after {
    content: ": ";
}

dd {
    padding: 0 0 0.5em 0;
}

#song {
    width: min(calc(100vw - min(calc(20vw + 40px), 190px) - 63px), 579px);
    height: min(calc(100vw - min(calc(20vw + 40px), 190px) - 63px) * 0.5625, 326px);
}

#icon {
    width: min(20vw, 150px);
    filter: var(--svg);
}

#here {
    cursor: default;
    color: var(--body-color);
    background: var(--inactive-bg);
}

#title {
    font-family: Sans-serif;
    line-height: 50px;
    border: 0;
    margin: -2px 3% 30px min(calc(20vw + 40px), 190px);
    color: white;
    text-align: center;
}

.menu {
    font-family: Sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    padding: 0 0 0 min(calc(20vw + 40px), 190px);
}

.menu p {
    cursor: pointer;
    transition: 0.2s;
    vertical-align: left;
    margin: 0 0 0 min(calc(20vw + 40px), 190px);
    padding: 1px 10px;
    margin: 0;
    background-color: var(--body-bg);
    border: 2px solid var(--border-color);
    border-bottom: 0px;
}

.menu p:hover {
    background: var(--hover-color);
}

.menu .change {
    border-right: 0px;
}

.sidebar {
    font-family: Sans-serif;
    background: linear-gradient(to left, #0000, var(--body-bg) 100%);
    top: 0;
    bottom: 0;
    padding: min(2.5%, 20px) 0px 0px min(2.5%, 20px);
    position: fixed;
    margin: 0;
}

.sidebar ol {
    padding: 0px 0px 0px min(20%, 170px);
}

.sidebar h2 {
    color: var(--body-color);
    font-size: 1.5em;
    line-height: 10px;
}

.content {
    background-color: var(--body-bg);
    margin: -2px 13px 30px min(calc(20vw + 40px), 190px);
    border: 2px solid var(--border-color);
    padding: 0px 15px 20px 15px;
}

.photo img {
    width: min(calc(100vw - min(calc(20vw + 40px), 190px) - 104px), 579px);
}